In [1]:
import pandas as pd
import numpy as np
import os

In [19]:
dataset_filenames = ["bangladesh_test.csv", "entertainment_test.csv", "sports_test.csv", "world_test.csv"]
data_path = "../../data"
datasets = []

for filename in dataset_filenames:
    dataset_path = os.path.join(data_path, filename)
    dataset = pd.read_csv(dataset_path)[["sentence1", "sentence2", "label"]]
    dataset['topic'] = filename.split('_')[0]
    dataset = dataset.dropna()
    dataset['label'] = dataset['label'].astype(int)
    datasets.append(dataset)

In [20]:
test_df = pd.concat(datasets)
test_df

,sentence1,sentence2,label,topic
0,৪২তম বিশেষ বিসিএস পরীক্ষায় ৩৪৫৩ জন অনুপস্থিত,৪২তম বিশেষ বিসিএসে অংশ নিলেন ৮৯% আবেদনকারী,1,bangladesh
1,৪২তম বিশেষ বিসিএস পরীক্ষায় ৩৪৫৩ জন অনুপস্থিত,৪২তম বিশেষ বিসিএসের প্রিলিমিনারি পরীক্ষা অনুষ্ঠিত,0,bangladesh
2,৪২তম বিশেষ বিসিএস পরীক্ষায় ৩৪৫৩ জন অনুপস্থিত,৪২তম বিসিএসের প্রিলিমিনারি পরীক্ষা বিকেলে,0,bangladesh
3,৪২তম বিশেষ বিসিএস পরীক্ষায় ৩৪৫৩ জন অনুপস্থিত,৪২তম বিসিএসের প্রিলিমিনারি পরীক্ষা আজ,0,bangladesh
4,৪২তম বিশেষ বিসিএস পরীক্ষায় ৩৪৫৩ জন অনুপস্থিত,মহামারীর মধ্যে প্রথম বিসিএসে বসছে চাকরিপ্রত্যা...,0,bangladesh
...,...,...,...,...
416,মিয়ানমারের সোয়া ৪ কোটি ডলারের সহায়তা প্রত্য...,মিয়ানমারের জন্য বরাদ্দকৃত ৩৫০ কোটি টাকা আটকে ...,0,world
418,মিয়ানমারের সোয়া ৪ কোটি ডলারের সহায়তা প্রত্য...,মিয়ানমারের সোয়া ৪ কোটি ডলারের সহায়তা সরিয়ে নিচ...,1,world
419,মিয়ানমারের জন্য বরাদ্দকৃত ৩৫০ কোটি টাকা আটকে ...,মিয়ানমারের আর্থিক সহায়তা সরিয়ে নিচ্ছে ইউএসএ...,0,world
420,মিয়ানমারের জন্য বরাদ্দকৃত ৩৫০ কোটি টাকা আটকে ...,মিয়ানমারের সোয়া ৪ কোটি ডলারের সহায়তা সরিয়ে নিচ...,0,world
421,মিয়ানমারের আর্থিক সহায়তা সরিয়ে নিচ্ছে ইউএসএ...,মিয়ানমারের সোয়া ৪ কোটি ডলারের সহায়তা সরিয়ে নিচ...,1,world

In [21]:
for topic_full in ["bangladesh_test.csv", "entertainment_test.csv", "sports_test.csv", "world_test.csv"]:
    topic = topic_full.split('_')[0]

    para_df = test_df[test_df['label']==1]
    non_df = test_df[test_df['label']==0]

    print("Paraphrase", para_df[para_df['topic']==topic].shape, topic, )
    print("Non Para  ", non_df[non_df['topic']==topic].shape, topic, )

Paraphrase (160, 4) bangladesh
Non Para   (323, 4) bangladesh
Paraphrase (148, 4) entertainment
Non Para   (112, 4) entertainment
Paraphrase (36, 4) sports
Non Para   (213, 4) sports
Paraphrase (227, 4) world
Non Para   (175, 4) world

In [23]:
test_df[["sentence1", "sentence2", "topic", "label"]].to_csv('test.csv', index=False)